body {

}

main {
    box-sizing: border-box;
    padding: none;
    vertical-align: top;
    outline-style: solid;
    outline-color: black;
    border-right-color: black;
    border-right-style: solid;
}

footer {

}

.flyZone {
    position: relative;
    height: 70px;
    width: 100vw;
    background-color: #fff2cc;
}

.riverOne {

    position: relative;
    height: 70px;
    width: 100vw;
    background-color: #3d85c6;

}

.riverTwo {
    position: relative;
    height: 70px;
    width: 100vw;
    background-color: #4499e5;

}

.riverThree {
    position: relative;
    height: 70px;
    width: 100vw;
    background-color: #3d85c6;

}

.highwayOne {
    position: relative;
    height: 70px;
    width: 100vw;
    background-color: #bcbcbc;


}

.highwayTwo {
    position: relative;
    height: 70px;
    width: 100vw;
    background-color: #A9A9A9;


}

.safeZone {
    position: relative;
    height: 70px;
    width: 100vw;
    background-color: #65d565;


}

.highwayThree {
    position: relative;
    height: 70px;
    width: 100vw;
    background-color: #bcbcbc;

}

.highwayFour {
    position: relative;
    height: 70px;
    width: 100vw;
    background-color: #A9A9A9;


}

.highwayFive {
    position: relative;
    height: 70px;
    width: 100vw;
    background-color: #bcbcbc;


}

.startingZone {
    position: relative;
    height: 70px;
    width: 100vw;
    background-color: #65d565;
}

.liveChat {

}

#leaveGameButton {
    position: relative;
    text-align: center;
    float: right;
    background-color: green;
}

#leaveGameText {
    color: white;
}


.livechat {
    color: white;
    background-color: #8972c2;
    outline-style: solid;
    outline-color: black;

}
