body {
    display: flex;
    flex-direction: column;
    height: 1000px;
    width: 1000px;
}

header {
    flex: 0 100px;
    width: 100vw;
    background-color: #00FFFF;
}

main {
    flex: 1 100vh;
    width: 100vw;
    background-color: #65d565;
}

footer {
    flex: 0 30px;
    width: 100vw;
    text-align: right;
    background-color: #65d565;
}

.road {
    background-origin: border-box;
    height: 33vh;
    width: 100vw;
    background-color: #808080;
}

.line {
    position: relative;
    top: 95px;
    height: 70px;
    width: 100vw;
    background: repeating-linear-gradient(
    to right,
    yellow,
    yellow 90px,
    transparent 90px,
    transparent 180px
    );
}

.titleFrogger {
    font-size: 5em;
    color: green;
    text-shadow: 2px 2px #003300;
    text-align: center;
    
}

#truck-body {
    position: relative;
    background: #C0C0C0;
    height: 180px;
    width: 470px;
    bottom: 85px;
    left: 60vw;
  }
  
#truck-front {
    position: relative;
    background: #990000;
    left:50.6vw;
    bottom: 195px;
    height: 110px;
    width: 145px;
  }
  
#left-wheel {
    position: relative;
    background: #999900;
    border-radius: 40%;
    left: 60vw;
    bottom: 29vh;
    height: 100px;
    width: 100px;
  }

#right-wheel {
    position: relative;
    background: #999900;
    border-radius: 40%;
    left: 84vw;
    bottom: 40.5vh;
    height: 100px;
    width: 100px;
  }

  .frog {

  }

  #left-eye {
    height: 40px;
    width: 50px;
    position: relative;
    border-radius: 40%;
    background: #55CC00;
    left: 21.3vw;
    bottom: 68vh;
  }
  
  #left-pupil {
    height: 28px;
    width: 38px;
    position: relative;
    border-radius: 40%;
    background: #000000;
    left: 21.7vw;
    bottom: 72vh;
  }
  
  #right-eye {
    height: 40px;
    width: 50px;
    position: relative;
    border-radius: 40%;
    background: #55CC00;
    left: 26vw;
    bottom: 76vh;
  }
  
  #right-pupil {
    height: 28px;
    width: 38px;
    position: relative;
    border-radius: 40%;
    background: #000000;
    left: 26.5vw;
    bottom: 80vh;
    
  }
  
  #smile {
    height: 20px;
    width: 40px;
    position: relative;
    background: transparent;
    border-bottom: 3px solid #000000;
    border-radius: 20%;
    left: 24vw;
    bottom: 77vh;
  }
  
  #right-foot {
    height: 13px;
    width: 45px;
    position: relative;
    border-radius: 40%;
    background: #55DD00;
    left: 26vw;
    bottom: 76vh;
  }
  
  #left-foot {
    height: 13px;
    width: 45px;
    position: relative;
    border-radius: 40%;
    background: #55DD00;
    left: 22vw;
    bottom: 74.5vh;
  }
  
  #frog-body {
    height: 90px;
    width: 100px;
    position: relative;
    border-radius: 40%;
    background: #55CC00;
    bottom: 55vh;
    left: 22vw;

  }

  #loginForm {
    position: relative;
    top: 55px;
    right: 40px;
    font-size: 2.5em;
    text-align: center;
    color: #003300;
  }

  #login {
    color: white;
    position: relative;
    height: 30px;
    width: 200px;
    bottom: 10px;
    left: 10px;
    background: green;
    outline-style: solid;
    outline-color: black;
  }

  #createFrog {
    text-align: center;
    position: relative;
    height: 40px;
    width: 200px;
    left: 42vw;
    top: 10vh;
    background: green;
    outline-style: solid;
    outline-color: black;
  }

  #createFrogText {
    color: white;
  }

  #quitButton {
    color: white;
    text-align: center;
    position: relative;
    height: 40px;
    width: 120px;
    right: 100px;
    bottom: 225px;
    background: green;
    outline-style: solid;
    outline-color: black;
  }

  ::placeholder {
    color: white;
  }
